@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}


main {
    /* width: 375px;
    height: 1085px;
    border-radius: 30px;
    background: var(--FLYING, #CCDADD); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}

#sec {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 158px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 20px;
    /* 
    animation-timing-function: ease-in;
    animation-duration: 300ms; */

    background: var(--Cards-Light-Mode, linear-gradient(52deg, #FFE1C6 4.87%, #FFCB05 94.37%));
}

#div1 {
    width: 178px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px 20px 0px 30px;
    background: var(--Cards-Light-Mode, linear-gradient(52deg, #FFE1C6 4.87%, #FFCB05 94.37%));

}

#div2 {
    display: flex;
    width: 158px;
    height: 28px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
}

img {
    width: 164.662px;
    height: 194px;
    flex-shrink: 0;
    margin-bottom: 10px;
    margin-top: -80px;
}

h2 {
    color: var(--Background-Dark-Mode, #000);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}