:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --color-bg: #F8F3F8;
  --color-fg: #181010;
  --frame-bg-hd: url("./assets/images/frame-hd.png") 42 round;
  --frame-bg: url("./assets/images/frame.png") 7 round;
  }

[data-theme="dark"] {
  --color-bg: #181010;
  --color-fg: #F8F3F8;
  --frame-bg-hd: url("./assets/images/frame-hd-dark.png") 42 round;
  --frame-bg: url("./assets/images/frame-dark.png") 7 round;
  --darkmode-icon: 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-fg);
}
